.group-card {
  border-radius: 15px;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 1.5%;
}

.group-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* Use responsive utility class for smaller screens */
@media (max-width: 500px) {
  .small-text {
    font-size: 9px; /* Adjust the font size for smaller screens */
  }
  .medium-text {
    font-size: 14px;
  }

  .small-text {
    font-size: 14px;
  }

  .medium-text {
    font-size: 18px;
  }
}
