<ion-card class="group-card" (click)="openGroup()">
  <ion-item>
    <ion-thumbnail slot="start">
      <ion-img src=".././assets/icon/elefant.png" alt="{{mygroups.imageUrl}}"></ion-img>
    </ion-thumbnail>

    <!-- Group Name -->
    <div class="group-name">
      <h1 class="small-text" id="groupcardtitle">{{mygroups.name}}</h1>
    </div>

    <!-- Owed Information -->
    <ion-list slot="end">
      <ion-card-subtitle class="small-text">Owed</ion-card-subtitle>
      <ion-card-subtitle class="small-text">50 dkk</ion-card-subtitle>
    </ion-list>
  </ion-item>
</ion-card>
