<ion-content>

    <!-- Logo Section -->
    <div>
        <ion-thumbnail>
            <ion-img id="image" src=".././assets/icon/payup_logo.png"></ion-img>
        </ion-thumbnail>
    </div>

    <!-- Create Button Section -->
    <div>
        <ion-button>
            Create
        </ion-button>
    </div>

    <!-- Expense Name Input Section -->
    <ion-item>
        <ion-input label="Expense name" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>

    <!-- Date and Time Section -->
    <div>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <!-- Modal for Date and Time -->
        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
            </ng-template>
        </ion-modal>
    </div>

    <!-- Amount Input Section -->
    <div>
        <ion-item>
            <ion-input label="You paid" placeholder="Enter amount"></ion-input>
        </ion-item>
    </div>

    <!-- Checkbox Section -->
    <ion-list>
        <ion-item>
            <ion-label>label name</ion-label>
            <ion-checkbox> check</ion-checkbox>
        </ion-item>
    </ion-list>

    <!-- Add users to expense -->
    <div>
        <ion-item>
            <ion-label>Select Users</ion-label>
            <ion-select multiple="true" cancelText="Cancel" okText="Select">

                <!-- Load group users -->
                <ion-select-option value="1">John Doe</ion-select-option>
                <ion-select-option value="2">Jane Smith</ion-select-option>
                <ion-select-option value="3">Alex Johnson</ion-select-option>
                <ion-select-option value="4">Emma Davis</ion-select-option>
                <ion-select-option value="5">Chris Wilson</ion-select-option>
                <ion-select-option value="6">John Doe</ion-select-option>
                <ion-select-option value="7">Jane Smith</ion-select-option>
                <ion-select-option value="8">Alex Johnson</ion-select-option>
                <ion-select-option value="9">Emma Davis</ion-select-option>
                <ion-select-option value="10">Chris Wilson</ion-select-option>

            </ion-select>
        </ion-item>

    </div>

</ion-content>
