<ion-content class="parent ion-padding">

<ion-card class="child ion-padding"
          style="overflow: hidden; border-radius: 15px; max-width: 700px; width: 90%; min-height: 300px; height: 100%;">
  <form [formGroup]="form">
    <!-- Logo Section -->
    <div class="parent ion-padding">
      <ion-icon class="child" name="receipt" color="dark" style="font-size: 48px"></ion-icon>
    </div>

    <!-- Expense Name Input Section -->
    <ion-item class="ion-padding" id="expensenameinput">
      <ion-input formControlName="description" label="Expense name" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <div *ngIf="description.touched && description.invalid">
      <ion-text color="danger">Valid description is required</ion-text>
    </div>

    <!-- Date and Time Section -->
    <div class="ion-padding" >
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <!-- Modal for Date and Time -->
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime formControlName="createdDate" id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </div>
    <div *ngIf="!createdDate.touched">
      <ion-text class="ion-margin-start ion-padding" color="dark">* Please select a date</ion-text>
    </div>
    <div *ngIf="createdDate.touched && createdDate.invalid">
      <ion-text color="danger">Valid date is required</ion-text>
    </div>

    <!-- Amount Input Section -->
    <ion-item class="ion-padding" id="paidinput">
      <ion-input formControlName="amount" label="You paid" placeholder="Enter amount" labelPlacement="floating"></ion-input>
      <ion-select id="select" style="width: 60px" [value]="selectedCurrency" (ionChange)="handleCurrencyChange($event)">
        <ion-select-option *ngFor="let currency of currencyList?.data | keyvalue" [value]="currency">{{currency.key}}</ion-select-option>
        <ion-select-option [value]="selectedCurrency">DKK</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label class="ion-padding ion-margin-start" *ngIf="selectedCurrency.key != 'DKK'">You selected a currency other than 'DKK'.</ion-label>
    <br>
    <ion-label class="ion-padding ion-margin-start" *ngIf="selectedCurrency.key != 'DKK'">Calculated amount: {{(Number(amount.value) / selectedCurrency.value.value).toFixed(2) }} DKK</ion-label>
    <div *ngIf="amount.touched && amount.invalid">
      <ion-text color="danger">Valid amount is required</ion-text>
    </div>

    <!-- Add users to expense -->
    <ion-item class="ion-padding" id="dropdow">
      <ion-select [value]="usersOnExpense" (ionChange)="handleUserSelection($event)" multiple="true" aria-label="User" placeholder="Select user" cancelText="Cancel" okText="Select">

        <!-- Load group users -->
        <ion-select-option *ngFor="let useringroup of userInGroup" [value]="useringroup.id">{{useringroup.fullName}}</ion-select-option>
      </ion-select>

    </ion-item>

  </form>

  <!-- Create Button Section -->
  <div class="parent ion-padding">
    <ion-button class="child" color="warning" [disabled]="form.invalid" (click)="createExpense()">
      Create
    </ion-button>
  </div>


</ion-card>

</ion-content>
