<ion-header [translucent]="true">
  <toolbar></toolbar>
</ion-header>

<ion-menu-toggle>
  <ion-menu contentId="btn_menu-button" type="overlay">
    <ion-header>
      <ion-toolbar class="ion-padding" color="primary">
        <ion-title size="large" style="text-align: center">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="parent ion-padding">
      <ion-item lines="none">
        <ion-button class="child" size="large" fill="clear" (click)="toHome()">Home</ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-button class="child" size="large" fill="clear" (click)="toCreate()">Create Group</ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-button class="child" size="large" fill="clear" (click)="toProfile()">Profile</ion-button>
      </ion-item>
    </ion-content>
  </ion-menu>
</ion-menu-toggle>

<ion-content>
  <!-- Router outlet for rendering components -->
  <ion-router-outlet></ion-router-outlet>
</ion-content>
