
<ion-content>

  <section>
      <!-- Group cards goes here -->

  </section>





  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-card id="groupcard">
    <ion-card-content>


<div>
  <ion-thumbnail>
    <ion-img src=".././assets/icon/arabman.png"> </ion-img>
  </ion-thumbnail>

</div>

      <ion-card-title> group name </ion-card-title>

    </ion-card-content>

  </ion-card>
</ion-content>







