<ion-content>

  <!-- Page title -->
  <h1 id="title" class="ion-text-center">
    My Groups
  </h1>

  <!-- Section for group cards -->
  <section>
    <app-groupcard
      *ngFor="let group of mygroups" [group]="group">
    </app-groupcard>

    <ion-card class="ion-padding" id="noGroups" *ngIf="noGroups">
        <ion-card-title>
          This looks empty 😞<br>
          <br>
          Click the button below to get started with PayUp!
          <br>
          <br>
          1. <a href="/groups/create">Create a group</a>
          <br>
          2. Invite friends
          <br>
          3. Add expenses
          <br>
          <br>
          And we'll tell you what everyone owes or lent
          <br>
          🧙‍♂️
        </ion-card-title>
    </ion-card>
  </section>

</ion-content>

<!-- Floating action button for adding groups -->
<ion-fab slot="fixed" horizontal="center" vertical="bottom">
  <ion-fab-button (click)="toCreate()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
