.content-container {
  width: 100vw;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.flex-row ion-text {
  flex-grow: 1;
}

.user {
  margin-bottom: 20px;
}

.user ion-img {
  height: 75px;
}

ion-content.flex-container {
  flex-grow: 1;
}

.search-bar {
  padding: 0;
  margin-bottom: 20px;
}

.pagination-container {
  justify-content: center;
}

.content {
  height: 300px;
}

@media (min-width: 800px) {
  .content {
    width: 40vw;
  }
}
