<div class="flex-container content-container">
  <ion-card class="content">
    <ion-card-content>
      <div class="flex-container">
        <ion-searchbar class="search-bar"></ion-searchbar>
        <div class="flex-row user">
          <ion-img alt="Profile image"></ion-img>
          <ion-text>Profile name</ion-text>
          <ion-button class="flex-row-button">Invite</ion-button>
        </div>
        <div class="flex-row pagination-container">
          <ion-button><</ion-button>
          <ion-button>1</ion-button>
          <ion-button>></ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
