<ion-content id="content" class="ion-align-items-center ion-justify-content-center ion-no-margin ion-text-center">
  <ion-card id="invite-card">
    <ion-card-content>
      <ion-searchbar></ion-searchbar>
    </ion-card-content>
    <ion-infinite-scroll-content>
      <ion-grid >
        <ion-row>
          <ion-col>
            <ion-img class="profile-img" src="https://docs-demo.ionic.io/assets/madison.jpg" alt="Profile image"></ion-img>
          </ion-col>
          <ion-col>
            <ion-text>Profile name</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-infinite-scroll-content>
  </ion-card>
</ion-content>
