<ion-content color="light" class="parent ion-padding">
  <ion-card class="child ion-padding"
            style="overflow: hidden; border-radius: 15px; max-width: 700px; width: 90%; min-height: 300px; height: 100%;">

    <ion-card-title class="ion-padding ion-text-center" color="dark">{{group?.name}}</ion-card-title>

    <ion-toolbar>
      <ion-segment [(ngModel)]="subpage" scrollable="true" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="activity">
          <ion-label>Activity</ion-label>
        </ion-segment-button>
        <ion-segment-button value="balances">
          <ion-label>Balances</ion-label>
        </ion-segment-button>
        <ion-segment-button value="members">
          <ion-label>Members</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <ng-container [ngSwitch]="subpage">
      <ion-content *ngSwitchCase="'activity'" class="child  subpage">
        <div class="parent">
          <ion-spinner name="crescent" *ngIf="loading" class="child"></ion-spinner>
        </div>
        <expensecard class="child" *ngFor="let expense of expenses.reverse()" [expense]="expense"></expensecard>
      </ion-content>

      <ion-content *ngSwitchCase="'balances'" class="child">
        <div class="parent">
          <ion-spinner name="crescent" *ngIf="loading" class="child"></ion-spinner>
        </div>
        <ion-accordion-group [multiple]="true" class="subpage">
          <balancecard *ngFor="let balance of balances" [balance]="balance" [transactionList]="transactionList"></balancecard>
        </ion-accordion-group>
      </ion-content>

      <div *ngSwitchCase="'members'" class="child subpage">
        <!-- TODO: ADD TOTALS HTML HERE -->
        <ion-accordion-group>
          <app-membercard *ngFor="let member of members" [member]="member"> </app-membercard>
        </ion-accordion-group>
      </div>
    </ng-container>

  </ion-card>

  <ion-fab [ngSwitch]="subpage" slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button *ngSwitchCase="'activity'" color="warning" (click)="toCreateExpense()">
      <ion-icon name="add" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngSwitchCase="'balances'" color="warning" (click)="toCreatePayment()">
      <ion-icon name="cash" color="dark"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngSwitchCase="'members'" color="warning" (click)="toInvite()">
      <ion-icon name="add" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
