<ion-card class="child" style="border-radius: 15px;" (click)="openExpense()">
  <ion-item>
    <ion-list class="ion-text-center" style="width: 10%">
      <ion-card-subtitle class="ion-text-uppercase small-text">{{expense.expense.createdDate | date: 'MMM'}}</ion-card-subtitle>
      <ion-card-title class="medium-text">{{expense.expense.createdDate | date: 'd'}}</ion-card-title>
    </ion-list>
    <ion-icon name="receipt" color="dark" style="width: 10%"></ion-icon>
    <ion-list class="ion-padding" style="width: 50%">
      <ion-card-subtitle class="small-text">{{expense.expense.fullName}} paid {{expense.expense.amount}} DKK for {{expense.usersOnExpense.length}} people</ion-card-subtitle>
      <ion-card-title class="medium-text">{{ expense.expense.description}}</ion-card-title>
    </ion-list>
    <ion-list class="ion-text-end" style="width: 30%">
      <!-- TODO: Vi skal hente logged in users id for at give det rigtige id med i metoderne -->
      <ion-card-subtitle class="small-text">{{getOweOrLent(1)}}</ion-card-subtitle>
      <ion-card-title class="medium-text">{{getOwnShare(1)}}</ion-card-title>
    </ion-list>
  </ion-item>
</ion-card>

