<div style="display: flex; justify-content: center; align-items: center;">
  <ion-card style="overflow: hidden; border-radius: 15px; max-width: 500px; width: 90%;">
    <div style="display: flex; justify-content: center; align-items: center;">
      <ion-item>
        <ion-card-title class="ion-padding">21/11</ion-card-title>
        <ion-icon name="beer" class="ion-padding"></ion-icon>
        <ion-list class="ion-padding">
          <ion-card-subtitle>You paid 40 DKK</ion-card-subtitle>
          <ion-card-title>Beers</ion-card-title>
        </ion-list>
        <ion-list class="ion-padding">
          <ion-card-subtitle>You lent</ion-card-subtitle>
          <ion-card-title>30 DKK</ion-card-title>
        </ion-list>
      </ion-item>
    </div>
  </ion-card>
</div>
