ion-card {
  border-radius: 15px;
}

.small-text {
  font-size: 14px;
}

.medium-text {
  font-size: 18px;
}

ion-thumbnail {
  --border-radius: 15px;
  --size: 15px;
}

ion-icon {
  font-size: 32px;
}

@media (max-width: 500px) {
  .small-text {
    font-size: 9px;
  }
  .medium-text {
    font-size: 14px;
  }
  ion-thumbnail {
    --border-radius: 15px;
    --size: 1.5vh;
  }
}

@media (max-width: 400px) {
  .small-text {
    font-size: 7px;
  }
  .medium-text {
    font-size: 11px;
  }
  ion-thumbnail {
    --border-radius: 15px;
    --size: 1vh;
  }
}
