#div_logo {
  margin-left: 50%;
}

#imglogo {
  height: 9.5vh;
  width: 9.5vh;
}


#btn_notifications {
  margin-right: 1%;
}

#icon_notifications {
  color: black;
}

#icon_myaccount {
  height: 40px;
  width: 40px;
  color: black;
}

ion-thumbnail {
  --border-radius: 20px;
  --size: 40px;
}

.popover-thumbnail {
  --border-radius: 40px;
  --size: 70px;
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

ion-badge {
  margin-bottom: 20px;
}

.parent {
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.child {
  flex-grow: 1;
  align-self: center;
  margin: auto;


  /* Add this style in your global styles.css or component styles */
  .custom-modal {
    max-width: 90%;
    width: auto;
  }

  .custom-modal ion-content {
    max-height: 80vh; /* Adjust as needed */
  }
}
