#div_logo {
  margin-left: 50%;
}

#imglogo {
  height: 9.5vh;
  width: 9.5vh;
}


#btn_notifications {
  margin-right: 1%;
}

#icon_notifications {
  color: black;
}

#icon_myaccount {
  height: 40px;
  width: 40px;
  color: black;
}
