<ion-toolbar>
  <!-- Content in the toolbar -->
  <ion-content></ion-content>

  <!-- Burger menu button -->
  <ion-buttons id="btn_menu-button" slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>

  <!-- Your Account icon and button -->
  <ion-button id="btn_myaccount" slot="end" fill="clear" (click)="toProfile()">
    <ion-icon id="icon_myaccount" slot="icon-only" name="person-circle"></ion-icon>
  </ion-button>

  <ion-button id="btn_notifications" slot="end" fill="clear"">
    <ion-icon id="icon_notifications" slot="icon-only" name="notifications"></ion-icon>
  </ion-button>





  <!-- PayUp logo -->
  <div id="div_logo" (click)="toHome()">
    <ion-img
      id="imglogo"
      src=".././assets/icon/payup_logo.png"
      alt="PayUp"
    ></ion-img>
  </div>
</ion-toolbar>
