<ion-accordion>
  <ion-item class="acc-header" slot="header">
    <ion-thumbnail class="ion-padding">
      <ion-img src="{{balance.imageUrl}}"></ion-img>
    </ion-thumbnail>

    <ion-label>{{balance.fullName}}</ion-label>

    <ion-label slot="end" *ngIf="balance.amount < 0" color="danger">owes {{-1 * balance.amount}}</ion-label>
    <ion-label slot="end" *ngIf="balance.amount > 0" color="success">lent {{balance.amount}}</ion-label>
    <ion-label slot="end" *ngIf="balance.amount === 0">has paid up</ion-label>
  </ion-item>
  <div slot="content">
    <ion-list [inset]="true">
      <app-payer-transfor-card *ngFor="let transaction of payerTransactions" [transaction]="transaction"></app-payer-transfor-card>
      <app-payee-transfor-card *ngFor="let transaction of payeeTransactions" [transaction]="transaction"></app-payee-transfor-card>

    </ion-list>
  </div>
</ion-accordion>
